@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  /* --color-primary: #dc2626; */
  /* --color-primary-hover: #991b1b; */

  --color-primary: #79031D;
  --color-secondary: #EDB518;
  --color-ternary: #801336;
  --color-4: #510A32;
  --color-5: #2D142C;
  /* --color-secondary: 111 114 185; */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), var(--color-primary-hover), rgb(var(--background-start-rgb))); */
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}