@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  /* --color-primary: #dc2626; */
  /* --color-primary-hover: #991b1b; */

  --color-primary: #EE4540;
  --color-secondary: #C72C41;
  --color-ternary: #801336;
  --color-4: #510A32;
  --color-5: #2D142C;
  /* --color-secondary: 111 114 185; */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), var(--color-primary-hover), rgb(var(--background-start-rgb))); */
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.show-anim {
  position: relative;
  animation: rev-show-main 2s ease forwards;
}

.show-anim:after {
  content: " ";
  position: absolute;
  animation: rev-show-block 2s ease forwards;
  background: var(--color-primary);
  left: 0%;
  top: 0%;
  width: 0%;
  height: 100%;
}

@keyframes rev-show-main {
  0% {
    color: transparent;
  }

  49% {
    color: transparent;
  }

  50% {
    color: #000;
  }
}

@keyframes rev-show-block {
  0% {
    left: 0%;
    width: 0%;
  }

  50% {
    left: 0%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}